<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aho.uozu.yakbox" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Note: Don't use "max-sdk" here: can cause permission denied errors -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE">
        Uses external storage to load recordings.
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE">
        Uses external storage to save recordings.
    </uses-permission>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Load activity -->
        <activity
            android:name=".LoadActivity"
            android:label="@string/title_activity_load"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aho.uozu.yakbox.MainActivity" />
        </activity>

        <!-- About/help screen -->
        <activity
            android:name=".AboutHelpActivity"
            android:label="@string/about_title"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aho.uozu.yakbox.MainActivity" />
        </activity>

        <!-- ACRA -->
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":error_report"
            android:theme="@style/Theme.Dialog" >
        </activity>

    </application>

</manifest>
