<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aho.uozu.yakbox" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">
        Uses external storage to load and save recordings.
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">
        Uses external storage to load and save recordings.
    </uses-permission>

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- main activity -->
        <activity
            android:name="aho.uozu.yakbox.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACRA -->
        <activity android:name="org.acra.CrashReportDialog"
            android:theme="@style/Theme.Dialog"
            android:process=":error_report"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true">
        </activity>
    </application>

</manifest>
